In [1]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list(range(2,22))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [18]:
adress = 'Tokyo,Japan'
adress.split(',')

['Tokyo', 'Japan']

In [34]:
adrees.split('J')

NameError: name 'adrees' is not defined

In [20]:
adress.upper()

'TOKYO,JAPAN'

In [32]:
name'Taro'

SyntaxError: invalid syntax (<ipython-input-32-84f5f8f949f5>, line 1)

In [13]:
name upper()

SyntaxError: invalid syntax (<ipython-input-13-e77a7a050967>, line 1)

lenはほかの物にも使える
upperはそのデータ専用になる

In [42]:
address.index('T')

NameError: name 'address' is not defined

In [ ]:
split；指定された文字で分割さえる
index:文字を探す
upper:文字を大文字にする

In [36]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2009, 1, 1)
result = date_b - date_a
print(result)

366 days, 0:00:00

In [37]:
date_a

datetime.date(2008, 1, 1)

In [38]:
date_a.year

2008

In [45]:
date_a.weekday()

1

()がある　何らかの処理をする　めっそど
（）がない　データにアクセスするだけ　属性

In [46]:
date.today()

datetime.date(2017, 5, 17)

In [ ]:
birthday = date(1998.2.9)

In [ ]:
date.today()

In [ ]:
life = today - birthday

In [55]:
print(life.days)

NameError: name 'life' is not defined