In [1]:
a = [1,2,3,4,5]

In [2]:
len(a)

5

In [3]:
s = 0
s = s+1
s = s+2
s = s+3
s = s+4
s = s+5

s

15

In [4]:
s = 0

for x in {1,2,3,4,5}:
    s = s + x
    
s

15

リストの各要素をxという仮の名前を付けて取り出す。

In [18]:
list_tohoku = [5349,5478,5344,4644,4968,6259]

for val in list_tohoku:
print(val)

IndentationError: expected an indented block (<ipython-input-18-6527861ba3fe>, line 4)

In [19]:
list_tohoku = [5349, 5478, 5344, 4644, 4968, 6259]

In [21]:
s = 0

for x in list_tohoku:
    s = s + x
    
s

32042

In [22]:
s/len(list_tohoku)

5340.333333333333

In [23]:
s/6

5340.333333333333

In [24]:
list_shikoku = [3148, 2991, 2966, 2457]

In [26]:
list_shikoku = [3148, 2991, 2966, 2457] 

s = 0
for x in list_shikoku:
    s += x
    
s/len(list_shikoku)

2890.5

In [27]:
from statistics import *

In [28]:
mean(list_shikoku)

2890.5

In [30]:
a = {'apple':100, 'orange':150, 'Grape':200}

In [31]:
a['apple']

100

In [32]:
for x in a:
    print(x)

apple
orange
Grape

In [40]:
s = 0

for x in a:
    s +=a[x]
    
s/len(a)

150.0

In [41]:
a

{'Grape': 200, 'apple': 100, 'orange': 150}

In [42]:
a.values()

dict_values([100, 150, 200])

In [46]:
mean(a.values())

150

In [47]:
s = 0
for x in a.values():
    s+=x
s/len(a)

150.0

NameError: name 'avg' is not defined

In [60]:
a = [1,2,3,4,5]

s  = 0
for x in a:
    s += x
    
avg = s/len(a)

s = 0
for x in a:
    s += (x-avg)**2
    
v = s/len(a)
v**0.5

1.4142135623730951

In [ ]:
list